In [3]:
class Person():
  def __init__(self,n):
    self.name=n

  def smethod():
    print("persons")  

class Employee(Person):
  def __init__(self,n):
    super().__init__(n)

  def smethod():
    print("employee")

ivan=Person("ivan doberman")
ivan.smethod()

TypeError: ignored

In [4]:
class Person():
  def __init__(self,n):
    self.name=n
  @staticmethod
  def smethod():
    print("persons")  

class Employee(Person):
  def __init__(self,n):
    super().__init__(n)

  def smethod():
    print("employee")

ivan=Person("ivan doberman")
ivan.smethod()

persons

In [5]:
baba=Employee("buba valya")
buba.smethod()

NameError: ignored

In [7]:
class Person():
  def __init__(self,n):
    self.name=n
  @staticmethod
  def smethod():
    print("persons")  

class Employee(Person):
  def __init__(self,n):
    super().__init__(n)
  @staticmethod
  def smethod():
    print("employee")

baba=Employee("buba valya")
baba.smethod()

employee

In [9]:
Person.smethod()

persons

In [10]:
Employee.smethod()

employee

In [12]:
class Person():
  def __init__(self,n):
    self.name=n 

class Employee(Person):
  def __init__(self,n):
    super().__init__(n)

baba=Employee("baba.valya")
ivan=Employee("ivan doberman")
baba.salary=120000
print(baba.salary)
print(ivan.salary)

120000

AttributeError: ignored

In [19]:
class Person():
  def __init__(self,n):
    self.name=n 

class Employee(Person):
  def __init__(self,n):
    super().__init__(n)
  
  @property
  def salary(self):
    return self.salary_

  
baba=Employee("baba.valya")
ivan=Employee("ivan doberman")

baba.salary=12000
print(baba.salary)

AttributeError: ignored

In [18]:
class Person():
  def __init__(self,n):
    self.name=n 

class Employee(Person):
  def __init__(self,n):
    super().__init__(n)
  def __str__(self):
    s = "Name:\t%s\nSalary:\t%i\n" % (self.name, self.salary_)
    return s

  @property
  def salary(self):
    return self.salary_

  @salary.setter
  def salary(self, n):
        self.salary_ = n  

baba=Employee("baba.valya")
ivan=Employee("ivan doberman")

baba.salary=12000
print(baba.salary)
#print(ivan.salary)

12000

In [29]:
class Person():
  def __init__(self,n):
    self.name=n 

class Employee(Person):
  def __init__(self,n):
    super().__init__(n)
  
  def __str__(self):
    s = "Name:\t%s\nSalary:\t%i\n" % (self.name, self.salary_)
    return s

  @property
  def salary(self):
    return self.salary_

  @salary.setter
  def salary(self, n):
        self.salary_ = n  

baba=Employee("baba valya")
ivan=Employee("ivan doberman")

baba.salary=12000
print(baba)
print(baba.salary)
#print(ivan.salary)

Name:	baba valya
Salary:	12000

12000

In [32]:
class Person():
  def __init__(self,n):
    self.name=n 

class Employee(Person):
  def __init__(self,n):
    super().__init__(n)
  
  def __str__(self):
    s = "Name:\t%s\nSalary:\t%i\n" % (self.name, self.salary_)
    return s

  @property
  def salary(self):
    res = self.salary_
    if self.name == "baba valya":
        res = "А вы с какой целью интересуетесь?.."
    return res
    

  @salary.setter
  def salary(self, n):
        self.salary_ = n  

baba=Employee("baba valya")
ivan = Employee("Ivan Doberman")

baba.salary = 120000
ivan.salary = 12000

print(baba)
print(ivan)

Name:	baba valya
Salary:	120000

Name:	Ivan Doberman
Salary:	12000

In [33]:
print(baba.salary)
print(ivan.salary)

А вы с какой целью интересуетесь?..
12000