In [ ]:
class Animal():
  class_name = "Animal"
class Dog(Animal):
  my_name="Dog" 

dog=Dog()
dog

In [ ]:
dog.class_name

'Animal'

In [ ]:
dog.my_name

'Dog'

In [ ]:
class Animal():
  def move(self):
    print("MOVED")
class Dog(Animal):
  def move(self):
    print("go")
animal=Animal()
animal.move()

MOVED

In [ ]:
dog=Dog()
dog.move()

go

In [ ]:
class Animal():
  def move(self):
    raise NotImplementedError("safari")
class Dog(Animal):
  def move(self):
    print("go")
animal=Animal()
animal.move()

NotImplementedError: ignored

In [ ]:
class Parent():
  def __init__(self):
    print("parent init")
    self._num_child=10
  def method(self):
    print("parent method")

class Child(Parent):
  def __init__(self,num):
    Parent.__init__(self)
    self.__number=num

  def method(self):
    super(Child,self).method()
    print(f'i {self.__number} th child in family')
    print(f"i have{self._num_child-1} brother and sister")  

child=Child(5)
child.method()

parent init
parent method
i 5 th child in family
i have9 brother and sister

In [ ]:
class Parent():
  def __init__(self):
    print("parent init")
    self._num_child=10
  def method(self):
    print("parent method")

class Child(Parent):
  def __init__(self,num):
    Parent.__init__(self)
    self.__number=num

  def method(self):
    #super(Child,self).method()
    print(f'i {self.__number} th child in family')
    print(f"i have{self._num_child-1} brother and sister")  

child=Child(5)
child.method()

parent init
i 5 th child in family
i have9 brother and sister

In [ ]:
class English:
  def greeting(self):
    print("hello")

class French:
  def greeting(self):
    print("bonjour")    

def intro(language):
  language.greeting()

john=English()
gerard=French()

intro(john),intro(gerard)

hello
bonjour

(None, None)

In [ ]:
list(range(2,11))

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
[str(n) for n in range(2,11)]+list("jqka")

['2', '3', '4', '5', '6', '7', '8', '9', '10', 'j', 'q', 'k', 'a']

In [ ]:
"spades diamonds clubs heards".split()

['spades', 'diamonds', 'clubs', 'heards']

In [ ]:
import collections

Card=collections.namedtuple("card",["rank","suit"])

class FrenchDeck:
  ranks=[str(n) for n in range(2,11)]+list("jqka")
  suits="spades diamonds clubs hearts".split()

  def __init__(self):
    self._cards=[Card(rank,suit) for suit in self.suits
                                for rank in self.ranks]

  def __len__(self):
    return len(self._cards)       
  def __getitem__(self,position):
    return self._cards[position]      

  def __del__(self):
    print("object destroyed")

In [ ]:
Card

__main__.card

In [ ]:
 
class FrenchDeckBad:
  ranks=[str(n) for n in range(2,11)]+list("jqka")
  suits="spades diamonds clubs hearts".split()

  def __init__(self):
    self.cards=[Card(rank,suit) for suit in self.suits
                                for rank in self.ranks]

In [ ]:
beer_card=Card(7,"diamonds")
beer_card

card(rank=7, suit='diamonds')

In [ ]:
deck=FrenchDeck()
len(deck)

52

In [ ]:
deck[:14]

[card(rank='2', suit='spades'),
 card(rank='3', suit='spades'),
 card(rank='4', suit='spades'),
 card(rank='5', suit='spades'),
 card(rank='6', suit='spades'),
 card(rank='7', suit='spades'),
 card(rank='8', suit='spades'),
 card(rank='9', suit='spades'),
 card(rank='10', suit='spades'),
 card(rank='j', suit='spades'),
 card(rank='q', suit='spades'),
 card(rank='k', suit='spades'),
 card(rank='a', suit='spades'),
 card(rank='2', suit='diamonds')]

In [ ]:
deck[10:15]

[card(rank='q', suit='spades'),
 card(rank='k', suit='spades'),
 card(rank='a', suit='spades'),
 card(rank='2', suit='diamonds'),
 card(rank='3', suit='diamonds')]

In [ ]:
deck[10::13]

[card(rank='q', suit='spades'),
 card(rank='q', suit='diamonds'),
 card(rank='q', suit='clubs'),
 card(rank='q', suit='heards')]

In [ ]:
Card("q","hearts") in deck

True

In [ ]:
for n ,card in enumerate(deck,1):
  print(n,card)

1 card(rank='2', suit='spades')
2 card(rank='3', suit='spades')
3 card(rank='4', suit='spades')
4 card(rank='5', suit='spades')
5 card(rank='6', suit='spades')
6 card(rank='7', suit='spades')
7 card(rank='8', suit='spades')
8 card(rank='9', suit='spades')
9 card(rank='10', suit='spades')
10 card(rank='j', suit='spades')
11 card(rank='q', suit='spades')
12 card(rank='k', suit='spades')
13 card(rank='a', suit='spades')
14 card(rank='2', suit='diamonds')
15 card(rank='3', suit='diamonds')
16 card(rank='4', suit='diamonds')
17 card(rank='5', suit='diamonds')
18 card(rank='6', suit='diamonds')
19 card(rank='7', suit='diamonds')
20 card(rank='8', suit='diamonds')
21 card(rank='9', suit='diamonds')
22 card(rank='10', suit='diamonds')
23 card(rank='j', suit='diamonds')
24 card(rank='q', suit='diamonds')
25 card(rank='k', suit='diamonds')
26 card(rank='a', suit='diamonds')
27 card(rank='2', suit='clubs')
28 card(rank='3', suit='clubs')
29 card(rank='4', suit='clubs')
30 card(rank='5', suit='clubs')
31 card(rank='6', suit='clubs')
32 card(rank='7', suit='clubs')
33 card(rank='8', suit='clubs')
34 card(rank='9', suit='clubs')
35 card(rank='10', suit='clubs')
36 card(rank='j', suit='clubs')
37 card(rank='q', suit='clubs')
38 card(rank='k', suit='clubs')
39 card(rank='a', suit='clubs')
40 card(rank='2', suit='hearts')
41 card(rank='3', suit='hearts')
42 card(rank='4', suit='hearts')
43 card(rank='5', suit='hearts')
44 card(rank='6', suit='hearts')
45 card(rank='7', suit='hearts')
46 card(rank='8', suit='hearts')
47 card(rank='9', suit='hearts')
48 card(rank='10', suit='hearts')
49 card(rank='j', suit='hearts')
50 card(rank='q', suit='hearts')
51 card(rank='k', suit='hearts')
52 card(rank='a', suit='hearts')

In [12]:
import math

class Vector:
  def __init__(self , x=0 , y=0):
    self.x=x
    self.y=y
  def __repr__(self):
     return f'Vector({self.x!r},{self.y!r})'

  def __abs__(self):
    return math.hypot(self.x,self.y)
  
  def __bool__(self):
    return bool(abs(self))

  def __add__(self,other):
    x=self.x+other.x
    y=self.y+other.y
    return Vector(x,y)

  def __mul__(self,scalar):
    return Vector(self.x * scalar ,self.y*scalar)

In [16]:
v1=Vector(2,3)
v2=Vector(3,4)
v1+v2

Vector(5,7)

In [17]:
abs(v1)

3.6055512754639896

In [18]:
v1*3

Vector(6,9)

In [19]:
abs(v1*3)

10.816653826391969

In [20]:
bool(v1),bool(v2)

(True, True)

In [1]:
import pandas as pd
import numpy as np 
import warnings
warnings.filterwarnings("ignore")

In [61]:
path="https://raw.githubusercontent.com/aksenov7/Kaggle_competition_group/master/boston_full.csv"
df=pd.read_csv(path,sep="\t")
df.head(2)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.9,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.9,9.14,21.6

In [3]:
from sklearn.base import BaseEstimator

In [4]:
class Estimator(BaseEstimator):
  def fit(self,X,y=None):
    return self

  def predict(self,X):
    return yhat

In [5]:
from sklearn.base import TransformerMixin
class Transformer(BaseEstimator,TransformerMixin):
   def fit(self,X,y=None):
    return self
   def transform(self,X):
    return Xprime

In [6]:
nan_col=df.sample(3,axis=1).columns
nan_col

Index(['DIS', 'NOX', 'CRIM'], dtype='object')

In [7]:
nan_row=df.sample(25,axis=0).index
nan_row

Int64Index([410, 211,  57, 180, 315, 228,  95, 494, 485, 295, 290, 154, 455,
            171, 348, 194, 466, 177, 335, 206,  86,  14, 138, 260, 152],
           dtype='int64')

In [8]:
df.loc[nan_row,nan_col]=np.nan

In [62]:
class Fillna(BaseEstimator,TransformerMixin):
  def __init__(self):
    self.placeholder=[]
  def fit(self,X,y=None):
    for column in X.columns:
      self.placeholder.append(X[column].median())
    return self
  def transform(self,X):
    Xnew=X.copy()
    for placeholder,column in zip(self.placeholder,Xnew.columns):
      Xnew[column]=Xnew[column].fillna(placeholder)
    return Xnew

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     481 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      481 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      481 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  target   506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

In [11]:
fn=Fillna()
fn.fit(df)

Fillna()

In [17]:
X_train=fn.Transform(df)

In [18]:
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  target   506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

In [63]:
nan_col=df.sample(3,axis=1).columns
nan_row=df.sample(25,axis=0).index
df.loc[nan_row,nan_col]=np.nan
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     481 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      481 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      481 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  target   506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

In [64]:
fn=Fillna()
X_train=fn.fit_transform(df)
X_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     506 non-null    float64
 1   ZN       506 non-null    float64
 2   INDUS    506 non-null    float64
 3   CHAS     506 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      506 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    float64
 9   TAX      506 non-null    float64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    506 non-null    float64
 13  target   506 non-null    float64
dtypes: float64(14)
memory usage: 55.5 KB

In [65]:
df.dtypes

CRIM       float64
ZN         float64
INDUS      float64
CHAS       float64
NOX        float64
RM         float64
AGE        float64
DIS        float64
RAD        float64
TAX        float64
PTRATIO    float64
B          float64
LSTAT      float64
target     float64
dtype: object

In [66]:
df.AGE=pd.qcut(df.AGE,q=4)
print(df.AGE.value_counts())

(2.899, 45.025]    127
(94.075, 100.0]    127
(45.025, 77.5]     126
(77.5, 94.075]     126
Name: AGE, dtype: int64

In [67]:
df.AGE

0      (45.025, 77.5]
1      (77.5, 94.075]
2      (45.025, 77.5]
3      (45.025, 77.5]
4      (45.025, 77.5]
            ...
501    (45.025, 77.5]
502    (45.025, 77.5]
503    (77.5, 94.075]
504    (77.5, 94.075]
505    (77.5, 94.075]
Name: AGE, Length: 506, dtype: category
Categories (4, interval[float64, right]): [(2.899, 45.025] < (45.025, 77.5] < (77.5, 94.075] <
                                           (94.075, 100.0]]

In [68]:
df=df.iloc[np.random.choice(df.index,df.shape[0]),:]
X_train,X_test=df[:400],df[400:]
X_train.shape,X_test.shape

((400, 14), (106, 14))

In [69]:
y_train=X_train.pop("target")
y_test=X_test.pop("target")

y_train.shape,y_test.shape

((400,), (106,))

In [70]:
from sklearn.base import BaseEstimator
class MedianReg(BaseEstimator):
  def __init__(self,need_col):
    self.__need_col=need_col
    self.__fitobj=None
  def fit(self,X,y):
    X=pd.concat([X,y],axis=1)
    target_col=X.columns[-1]
    self.__fitobj=X.groupby(self.__need_col,as_index=False)[target_col].median()
    print(self.__fitobj)
    self.__fitobj={key:val for key,val in self.__fitobj.values}
    return self
  def predict(self,X):
    yhat=X.loc[:,self.__need_col].map(self.__fitobj).astype(np.float32)
    return yhat

In [74]:
X=pd.concat([X_train,y_train],axis=1)
target_col=X.columns[-1]
fitobj=X.groupby("AGE",as_index=False)[target_col].median()
fitobj

               AGE  target
0  (2.899, 45.025]   24.70
1   (45.025, 77.5]   22.45
2   (77.5, 94.075]   19.15
3  (94.075, 100.0]   15.00

In [80]:
n={key:val for key,val in fitobj.values}
n

{Interval(2.899, 45.025, closed='right'): 24.7,
 Interval(45.025, 77.5, closed='right'): 22.45,
 Interval(77.5, 94.075, closed='right'): 19.15,
 Interval(94.075, 100.0, closed='right'): 15.0}

In [78]:
yX_test.loc[:,"AGE"]

494    (2.899, 45.025]
146    (94.075, 100.0]
179     (45.025, 77.5]
20     (94.075, 100.0]
201    (2.899, 45.025]
            ...
482     (45.025, 77.5]
103     (77.5, 94.075]
478    (94.075, 100.0]
153    (94.075, 100.0]
298    (2.899, 45.025]
Name: AGE, Length: 106, dtype: category
Categories (4, interval[float64, right]): [(2.899, 45.025] < (45.025, 77.5] < (77.5, 94.075] <
                                           (94.075, 100.0]]

In [81]:
X_test.loc[:,"AGE"].map(n).astype(np.float32)

494    24.700001
146    15.000000
179    22.450001
20     15.000000
201    24.700001
         ...
482    22.450001
103    19.150000
478    15.000000
153    15.000000
298    24.700001
Name: AGE, Length: 106, dtype: float32

In [82]:
mg=MedianReg("AGE")
mg.fit(X_train,y_train)
y_pred=mg.predict(X_test)
y_pred

               AGE  target
0  (2.899, 45.025]   24.70
1   (45.025, 77.5]   22.45
2   (77.5, 94.075]   19.15
3  (94.075, 100.0]   15.00

494    24.700001
146    15.000000
179    22.450001
20     15.000000
201    24.700001
         ...
482    22.450001
103    19.150000
478    15.000000
153    15.000000
298    24.700001
Name: AGE, Length: 106, dtype: float32

In [87]:
y_pred.describe()

count    106.000000
mean      19.666981
std        3.783932
min       15.000000
25%       15.000000
50%       19.150000
75%       22.450001
max       24.700001
Name: AGE, dtype: float64