In [7]:
class Person():
  def __init__(self,n,fn,ln):
    self.name=n
    self.fname=fn
    self.lname=ln

  def __str__(self):
    s="name :\t\t"+self.name+"\n" +\
       "father's name :\t" + self.fname +"\n" +\
      "last name: \t"+self.lname + "\n" 
    return s  

sansa=Person("sansa","eddardovna","stark")
print(sansa)

name :		sansa
father's name :	eddardovna
last name: 	stark

In [8]:
name="john bastardovic snow"
name=name.split(" ")
print(name)

['john', 'bastardovic', 'snow']

In [10]:
john=Person(name[0],name[1],name[2])
print(john)

name :		john
father's name :	bastardovic
last name: 	snow

In [13]:
class Person():
  def __init__(self,n,fn,ln):
    self.name=n
    self.fname=fn
    self.lname=ln

  def __str__(self):
    s="name :\t\t"+self.name+"\n" +\
       "father's name :\t" + self.fname +"\n" +\
      "last name: \t"+self.lname + "\n" 
    return s  
  
  @classmethod
  def to_string(cls,name):
    name,fname,lname=name.split(" ")
    person=cls(name,fname,lname)
    return person


sansa=Person("sansa","eddardovna","stark")
print(sansa)      
name="john bastardovic snow"
john=Person.to_string(name)
print(john)

name :		sansa
father's name :	eddardovna
last name: 	stark

name :		john
father's name :	bastardovic
last name: 	snow